body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 2px;
  font-size: 16px;
}
.myphoto{
  margin:4px;
}
.image-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.rounded-image {
  border-radius: 15px;
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 0 auto; /* Centers the image */
}
header {
  text-align: center;
  font-size: xx-large;
  padding: 15px;
}
.navbar {
  background-color: gray;
  height: 15px;
}
p {
  padding: 8px;
  margin:  6px;
  font-size: 16px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.item {
  flex: 1 1 100%;
  box-sizing: border-box;
  padding: 10px;
}
@media (max-width: 768px) {
  body {
      font-size: 16px;
  }
}
  .image-text-container {
       flex-wrap:wrap;
  }
}
