body{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin: 0px;
  }
.image-text-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  
}
.rounded-image {
  border-radius: 15px; 
  margin: 18px; 
  width: 350px; 
  height: auto; 
  }
header{
    text-align: center;
    font-size:xx-large;
    padding: 15px;
}
.navbar{
background-color: gray;
height: 15px;
}
p{
  padding: 8px;
  margin: 10px;
}
@media (max-width: 768px) {
  p {
      font-size: 15px; 
  }
  .devinfo{
    margin: 15px;
  }
  image-text-container {
    flex-direction: column; 
    text-align: center;
  }

  .rounded-image {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
