body{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin: 0px;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

.image-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.rounded-image{
    border-radius: 15px;
    margin: 18px;
    width: 100%;
    max-width: 350px;
    height: auto;
}

header{
    text-align: center;
    font-size: xx-large;
    padding: 15px;
}

.navbar{
    background-color: gray;
    height: 15px;
}

p{
    padding: 8px;
    margin: 10px;
    font-size: 16px;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
@media(max-width: 768px){
    body {
        font-size: 16px;
    }
    .image-text-container{
        flex-wrap:wrap;
    }
    .devinfo {
        margin: 15px;
    }
    .rounded-image{
        width: 250px;
    }
}
